* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



.context{
	position: relative;
	width:100%;
	height:100%;
	background:yellow; 

}
.bottom{
	position: absolute;
	bottom: 0px;
	background: black;	
	height: 50px;
	right: 0px;
	width:100%;
}
.page1{
	width: 100%;
	height: 100%;
	margin: 0,0,0,0;
	background:rgba(0%,0%,15%,0.9);
}
.navigation{
	background:rgba(0,0,0,0.9);
	border: 4px rgba(70%,60%,60%,1);
	font-size:30px;
	border-bottom-style: double;
	margin: 0px auto;
	border-radius:;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.navigation:li{
	text-shadow:2px,30px,3px, #000;
}
.navwords{
	margin: 0px auto;

}
.navb{
	border:double 2px rgba(100%,100%,100%,0.7);
	margin: 0px auto;
	text-align:center;
	
}
.navb{
	color:white;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
li{
	list-style: none;
	font-family:Microsoft JhengHei,DFKai-sb,MingLiU;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.page1-content{
	display:inline-block;
	position: absolute;
	max-height: 75%;
}
.imgsize{
  	height: 100%;
}
.item{
	width: 100%;
  	height: 0;
  	padding-bottom: 60%;
  	overflow: hidden;
	
}